{% extends 'components/header.html' %}
{% block main %}
<div class="mt-5 mb-5 mx-auto col-10 col-md-8 col-lg-6">
    <h1>Privacy Policy</h1>
    <i>Last updated: October 4th, 2023</i>
    <h3>How We Collect and Use Information</h3>
    <h4>We collect the following types of information about you:</h4>
    <b>Information you provide us directly:</b>
    <p>We ask for certain information such as your username and password when you register for a SaveMii account, or if you correspond with us. We may also retain any Nintendo Network ID you send through the Service, and may collect information you provide in User Content you post to the Service. We use this information to operate, maintain, and provide to you the features and functionality of the Service. Your username will be published publicly. Once published your username may not be able to be removed.</p>
    <b>Information we Collect when archiving an Nintendo Network ID:</b>
    <p>When archiving an Nintendo Network ID to the Service, we request the Nintendo Network API, for Nintendo Network ID Data, such as: the Nintendo Network ID, the Mii Data, the Mii Hash (Unique identifier of the Mii on Nintendo CDN), the nickname of the Nintendo Network ID, the PID of the Nintendo Network ID. If you are logged in into the Service, we link your Account to the collected Nintendo Network ID data.</p>
    <h4>How to get your Nintendo Network ID Removed from the Service</h4>
    <p>If you wanna remove your Nintendo Network ID and its affiliated data from the Service, please use the available "Complaint" button (requires signing up to the Service). We engage in removing every data of your Nintendo Network ID from the Service once the deletion request has been accepted.</p>
</div>
{% endblock %}