<div class="card mt-1" {% if not request.is_mobile %}style="width: 35% !important; display: inline-block"{% endif %}>
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/mii/{{favorite.target.mii_hash}}/whole_body" class="img-fluid rounded-start" alt="{{favorite.target}}'s Mii">
        </div>
        <div class="col-md-8">
            <div class="card-body mt-3">
                <h5 class="card-title">{{favorite.target.nnid}}</h5>
                <p class="card-text">Nickname: {{favorite.target.nickname}}</p>
                <a href="/nnid/{{favorite.target.nnid}}" type="button" class="btn btn-primary"><span class="bi bi-three-dots"></span> See more</a><br><br>
                <a href="/favorite/{{favorite.target.nnid}}" type="button" class="btn btn-danger"><span class="bi bi-dash-circle-fill"></span> Delete from favorites</a>
            </div>
        </div>
    </div>
</div>